<?xml version="1.0"?>
<config>
    <modules>
        <MelhorLoja_Shipping>
            <version>0.1.0</version>
        </MelhorLoja_Shipping>
    </modules>
    <frontend>
        <routers>
            <shipping>
                <use>standard</use>
                <args>
                    <module>MelhorLoja_Shipping</module>
                    <frontName>shipping</frontName>
                </args>
            </shipping>
        </routers>
        <layout>
            <updates>
                <shipping>
                    <file>shipping.xml</file>
                </shipping>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <shipping>
                <args>
                    <module>MelhorLoja_Shipping</module>
                    <frontName>shipping</frontName>
                </args>
            </shipping>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shipping>
                    <file>shipping.xml</file>
                </shipping>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <melhorLoja_shipping>
                <class>MelhorLoja_Shipping_Model</class>
            </melhorLoja_shipping>
        </models>
        <helpers>
            <melhorLoja_shipping>
                <class>MelhorLoja_Shipping_Helper</class>
            </melhorLoja_shipping>
        </helpers>
    </global>
    <default>
        <carriers>
            <melhorLoja_shipping>
                <active>1</active>
                <model>MelhorLoja_Shipping_Model_Carrier</model>
                <sort_order>10</sort_order>
                <title>Tipo de entrega</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <express_max_weight>0.1</express_max_weight>
            </melhorLoja_shipping>
        </carriers>
    </default>
</config>